In [65]:
import pandas as pd
import numpy as np

In [371]:
# pd.set_option('display.max_columns', None)

In [69]:
excel = pd.ExcelFile('../data/input_vacation.xlsx')

In [87]:
excel_dict = {}

for sheet_name in excel.sheet_names:
    df = pd.read_excel(excel, sheet_name=sheet_name, index_col=None, header=None)
    excel_dict[sheet_name.replace(' ', '').lower()] = df

In [ ]:
excel_dict['requiredpersonal'].columns = list(range(1, 13))

In [91]:
print(*excel_dict.keys())

params quals personallevel months quallevels maxfly qualified requiredpersonal restreq restprior starts maxstarts

In [96]:
for k, v in excel_dict.items():
    print(k)
    display(v)

params

                0    1
0      REST_YEAR   184
1  MIN_REST_SIZE    36
2    MIN_REST_LAG    2
3     TOTAL_RESTS    4
4     PRIOR_RESTS    3
5   NOPRIOR_RESTS    3
6       REST_HIGH  147
7        REST_LOW  147
8        nMonths    12
9         nQuals    10

quals

     0
0   Q1
1   Q2
2   Q3
3   Q4
4   Q5
5   Q6
6   Q7
7   Q8
8   Q9
9  Q10

personallevel

           0   1
0       3401  70
1       3402  70
2       3404   1
3       3405  65
4       3407  55
...      ...  ..
2422  104635   1
2423  104638   1
2424  104640   1
2425  104641   1
2426  104642   1

[2427 rows x 2 columns]

months

     0  1   2
0    1  0  74
1    2  0  74
2    3  0  74
3    4  0  74
4    5  1  74
5    6  1  37
6    7  1  37
7    8  1  37
8    9  1  37
9   10  0  74
10  11  0  74
11  12  0  37

quallevels

   0
0  1
1  1
2  1
3  1
4  1
5  1
6  1
7  1
8  1
9  1

maxfly

       0
0     80
1     80
2     80
3     80
4     90
...   ..
2422  80
2423  80
2424  80
2425  80
2426  80

[2427 rows x 1 columns]

qualified

,0,1,2,3,4,5,6,7,8,9,...,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,1,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

requiredpersonal

,0,1,2,3,4,5,6,7,8,9,10,11
0,31746,29240,33821,33549,29025,37327,36847,36550,35700,34224,31484,35387
1,10139,9209,10320,10182,10155,9339,10137,10107,9706,9841,8679,9164
2,10139,9209,10320,10182,10155,9339,10137,10107,9706,9841,8679,9164
3,14233,11474,10933,11806,11639,13725,13187,13649,14155,9705,12391,13103
4,12357,10177,9844,9969,10593,12009,11488,11957,12292,9942,10422,11250
5,34789,36442,35051,35246,32949,40948,39488,40144,40035,33954,38549,39797
6,5224,5384,5506,6105,5747,6230,6293,5918,5761,6376,6023,6117
7,5224,4829,4929,5262,5065,5466,5309,5414,5260,5110,5282,5344
8,7159,4997,6640,6142,5901,7058,7188,7191,7079,6144,6802,6796
9,7722,7067,7615,7118,7948,8219,8503,8503,8228,8459,8101,8374

restreq

      0   1   2   3   4   5   6   7   8   9   10  11
0      0   0   0   0   0   0   0   0   0   0   0   0
1      0   0   0   0   0   0   0   0   0   0   0   0
2      0  60   0   0  60   0   0  60   0  39   0   0
3      0   0   0   0   0   0   0   0   0   0   0   0
4      0   0   0   0   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
2422   0   0   0   0   0   0   0   0   0   0   0   0
2423   0   0   0   0   0   0   0   0   0   0   0   0
2424   0   0   0   0   0   0   0   0   0   0   0   0
2425   0   0   0   0   0   0   0   0   0   0   0   0
2426   0   0   0   0   0   0   0   0   0   0   0   0

[2427 rows x 12 columns]

restprior

      0   1   2   3   4   5   6   7   8   9   10  11
0      0   0   0   0   0   0   0   0   0   0   0   0
1      0   0   0   0   0   0   0   0   0   0   0   0
2      0   3   0   0   3   0   0   1   0   3   0   0
3      0   0   0   0   0   0   0   0   0   0   0   0
4      0   0   0   0   0   0   0   0   0   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
2422   0   0   0   0   0   0   0   0   0   0   0   0
2423   0   0   0   0   0   0   0   0   0   0   0   0
2424   0   0   0   0   0   0   0   0   0   0   0   0
2425   0   0   0   0   0   0   0   0   0   0   0   0
2426   0   0   0   0   0   0   0   0   0   0   0   0

[2427 rows x 12 columns]

starts

      0
0     3
1     1
2     2
3     2
4     2
...  ..
2422  3
2423  3
2424  3
2425  3
2426  3

[2427 rows x 1 columns]

maxstarts

       0
0      6
1      4
2      5
3      5
4      5
...   ..
2422  12
2423  12
2424  12
2425  12
2426  12

[2427 rows x 1 columns]

### quals

In [299]:
quals = excel_dict['quals'].values.T.tolist()[0]

### personallevel

In [308]:
sheet = 'personallevel'

index = excel_dict[sheet].loc[:, 0]
data = {sheet: excel_dict[sheet].loc[:, 1].values}

df = pd.DataFrame(data=data, index=index)
df.index.name = 'employee_number'

### maxfly

In [309]:
sheet = 'maxfly'

df[sheet] = excel_dict[sheet].loc[:, 0].values

### pivot_input_vacation

In [310]:
df = pd.read_excel(excel, sheet_name='input_vacation')

In [367]:
RPS = ['RP1', 'RP2', 'RP3', 'RP4', 'RP5', 'RP6', 'RP7', 'RP8', 'RP9', 'RP10', 'RP11', 'RP12']
RRS = ['RR1', 'RR2', 'RR3', 'RR4', 'RR5', 'RR6', 'RR7', 'RR8', 'RR9', 'RR10', 'RR11', 'RR12']

def f(row, PR):
    if row[PR] == 0:
        return 0
    return (4 - row[RP]) * (70 + 1) + row['Pers Level']  # int


for RP in RPS:
    df[f'{RP}_score'] = df.apply(f, axis=1, args=(RP,))

In [402]:
from collections import defaultdict

q = defaultdict()

for qual in quals:
    q[qual] = df.loc[df[qual] == 1]

In [317]:
possible_vacation = pd.read_csv('../data/possible_vacation.csv', index_col=0)
req_work = excel_dict['requiredpersonal']

possible_vacation.index = req_work.index = quals

In [318]:
possible_vacation

,1,2,3,4,5,6,7,8,9,10,11,12
Q1,8744.0,11250.0,6669.0,6941.0,11465.0,3163.0,3643.0,3940.0,4790.0,6266.0,9006.0,5103.0
Q2,6221.0,7151.0,6040.0,6178.0,6205.0,7021.0,6223.0,6253.0,6654.0,6519.0,7681.0,7196.0
Q3,2591.0,3521.0,2410.0,2548.0,2575.0,3391.0,2593.0,2623.0,3024.0,2889.0,4051.0,3566.0
Q4,767.0,3526.0,4067.0,3194.0,3361.0,1275.0,1813.0,1351.0,845.0,5295.0,2609.0,1897.0
Q5,873.0,3053.0,3386.0,3261.0,2637.0,1221.0,1742.0,1273.0,938.0,3288.0,2808.0,1980.0
Q6,9961.0,8308.0,9699.0,9504.0,11801.0,3802.0,5262.0,4606.0,4715.0,10796.0,6201.0,4953.0
Q7,1846.0,1686.0,1564.0,965.0,1323.0,840.0,777.0,1152.0,1309.0,694.0,1047.0,953.0
Q8,1036.0,1431.0,1331.0,998.0,1195.0,794.0,951.0,846.0,1000.0,1150.0,978.0,916.0
Q9,751.0,2913.0,1270.0,1768.0,2009.0,852.0,722.0,719.0,831.0,1766.0,1108.0,1114.0
Q10,4098.0,4753.0,4205.0,4702.0,3872.0,3601.0,3317.0,3317.0,3592.0,3361.0,3719.0,3446.0

In [319]:
req_work

,1,2,3,4,5,6,7,8,9,10,11,12
Q1,31746,29240,33821,33549,29025,37327,36847,36550,35700,34224,31484,35387
Q2,10139,9209,10320,10182,10155,9339,10137,10107,9706,9841,8679,9164
Q3,10139,9209,10320,10182,10155,9339,10137,10107,9706,9841,8679,9164
Q4,14233,11474,10933,11806,11639,13725,13187,13649,14155,9705,12391,13103
Q5,12357,10177,9844,9969,10593,12009,11488,11957,12292,9942,10422,11250
Q6,34789,36442,35051,35246,32949,40948,39488,40144,40035,33954,38549,39797
Q7,5224,5384,5506,6105,5747,6230,6293,5918,5761,6376,6023,6117
Q8,5224,4829,4929,5262,5065,5466,5309,5414,5260,5110,5282,5344
Q9,7159,4997,6640,6142,5901,7058,7188,7191,7079,6144,6802,6796
Q10,7722,7067,7615,7118,7948,8219,8503,8503,8228,8459,8101,8374

In [325]:
work_df = pd.DataFrame(index=req_work.index, columns=range(1,13))

In [383]:
def f(row, RP, RR):
    if row[RP] == 0:
        row[f'Work time {RP}'] = row['Max Fly']
        row['Vacation time'] += 0
    else:
        row['Vacation time'] += row[RR]
        row[f'Work time {RP}'] = row['Max Fly'] - row[RR]
    return row


for qual in quals:
    
    for i, (RP, RR) in enumerate(zip(RPS, RRS), 1):
        _df[f'Work time {RP}'] = _df['Vacation time'] = 0
        q[qual] = q[qual].apply(f, args=(RP, RR), axis=1)
        work_df.loc[qual, i] = q[qual][f'Work time {RP}'].sum()

/home/alice/Documents/ramax_vacation/venv/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [388]:
q['Q6'][q['Q6']['Vacation time'] > 184]

,Num,Pers Level,Max Fly,Month Start,Month Max,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP8,RP9,RP10,RP11,RP12,RR1,RR2,RR3,RR4,RR5,RR6,RR7,RR8,RR9,RR10,RR11,RR12,RP1_score,RP2_score,RP3_score,RP4_score,RP5_score,RP6_score,RP7_score,RP8_score,RP9_score,RP10_score,RP11_score,RP12_score,Work time,Vacation time,Work time RP1,Work time RP2,Work time RP3,Work time RP4,Work time RP5,Work time RP6,Work time RP7,Work time RP8,Work time RP9,Work time RP10,Work time RP11,Work time RP12
10,3432,1,80,1,2,0,0,0,0,0,1,0,0,0,0,0,3,0,0,3,0,0,0,1,0,0,0,0,60,0,0,60,0,0,0,78,0,0,0,0,72,0,0,72,0,0,0,214,0,0,0,80,198,80,20,80,80,20,80,80,80,2,80,80,80
242,11548,55,80,2,5,0,0,0,0,0,1,0,0,0,0,3,0,0,0,3,0,0,1,0,0,3,0,57,0,0,0,57,0,0,39,0,0,39,0,126,0,0,0,126,0,0,268,0,0,126,0,80,192,23,80,80,80,23,80,80,41,80,80,41,80
251,11564,55,80,3,6,0,0,0,0,0,1,0,0,0,0,0,3,0,3,3,0,0,1,0,0,0,3,0,36,0,18,55,0,0,55,0,0,0,36,0,126,0,126,126,0,0,268,0,0,0,126,0,236,80,44,80,62,25,80,80,25,80,80,80,44
256,11571,55,80,1,2,0,0,0,0,0,1,0,0,0,0,0,3,0,3,0,1,0,0,3,0,3,3,0,36,0,18,0,55,0,0,36,0,21,18,0,126,0,126,0,268,0,0,126,0,126,126,0,202,80,44,80,62,80,25,80,80,44,80,59,62
257,11573,55,80,2,5,0,0,0,0,0,1,0,0,0,0,0,3,0,0,3,0,0,1,0,0,3,0,0,73,0,0,39,0,0,39,0,0,39,0,0,126,0,0,126,0,0,268,0,0,126,0,80,190,80,7,80,80,41,80,80,41,80,80,41,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,96606,50,80,3,6,0,0,0,0,0,1,0,0,0,0,0,3,0,0,3,0,3,0,1,0,0,3,0,39,0,0,36,0,36,0,55,0,0,36,0,121,0,0,121,0,121,0,263,0,0,121,0,238,80,41,80,80,44,80,44,80,25,80,80,44
1813,96617,50,80,2,5,0,0,0,0,0,1,0,0,0,0,0,3,0,0,3,0,1,0,0,3,0,3,0,57,0,0,39,0,36,0,0,36,0,36,0,121,0,0,121,0,263,0,0,121,0,121,0,240,80,23,80,80,41,80,44,80,80,44,80,44
1822,96656,50,80,3,6,0,0,0,0,0,1,0,0,0,0,0,3,0,0,0,0,3,0,3,0,0,1,0,73,0,0,0,0,36,0,36,0,0,39,0,121,0,0,0,0,121,0,121,0,0,263,0,223,80,7,80,80,80,80,44,80,44,80,80,41
1970,98700,50,80,3,6,0,0,0,0,0,1,0,0,0,0,0,0,3,0,3,0,1,0,3,3,0,3,0,0,31,0,21,0,39,0,31,34,0,31,0,0,121,0,121,0,263,0,121,121,0,121,0,218,80,80,49,80,59,80,41,80,49,46,80,49
2058,99848,50,80,2,5,0,0,0,0,0,1,0,0,0,0,3,3,0,0,3,0,0,1,0,3,0,3,21,55,0,0,18,0,0,55,0,21,0,36,121,121,0,0,121,0,0,263,0,121,0,121,0,242,59,25,80,80,62,80,80,25,80,59,80,44

In [374]:
_df = req_work - work_df

In [375]:
_df

,1,2,3,4,5,6,7,8,9,10,11,12
Q1,-5044,-5800,-4450,-3625,-6269,-1512,688,-1074,-2228,-2298,-6468,-3330
Q2,-5460,-6030,-4672,-4870,-5080,-6410,-4612,-5115,-5701,-4663,-6852,-6597
Q3,-1760,-2342,-1613,-1220,-1788,-2658,-1973,-1747,-1807,-1833,-3208,-3043
Q4,149,-1496,-2903,-1182,-1599,-388,-404,-154,196,-2861,-1611,-573
Q5,-126,-1882,-2525,-2403,-1448,-669,-1057,-574,-267,-2022,-1848,-1264
Q6,-4852,-1291,-5482,-4026,-5749,-604,-889,-231,-441,-4846,-1556,-1827
Q7,-259,-409,-407,241,476,-70,195,434,186,353,449,33
Q8,284,-105,-125,77,547,-50,408,521,166,134,57,13
Q9,-441,-2463,-1086,-1297,-1587,-525,-430,-539,-384,-1194,-936,-862
Q10,-3898,-3869,-3738,-4451,-2947,-3257,-2904,-2584,-3053,-2508,-3253,-3217

In [377]:
_df.sum(axis=1)

Q1    -41410.0
Q2    -66062.0
Q3    -24992.0
Q4    -12826.0
Q5    -16085.0
Q6    -31794.0
Q7      1222.0
Q8      1927.0
Q9    -11744.0
Q10   -39679.0
dtype: float64

In [347]:
q['Q9']['Max Fly'].sum() - q['Q9']['Work time RP1'].sum()

540

In [354]:
q['Q9']['Max Fly'].sum() - req_work.loc['Q9', 1]

751

In [360]:
q['Q9']['Work time RP2'].sum() - req_work.loc['Q9', 2]

2113

In [359]:
q['Q9'][q['Q9']['RP2'] > 0]

,Num,Pers Level,Max Fly,Month Start,Month Max,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP8,RP9,RP10,RP11,RP12,RR1,RR2,RR3,RR4,RR5,RR6,RR7,RR8,RR9,RR10,RR11,RR12,RP1_score,RP2_score,RP3_score,RP4_score,RP5_score,RP6_score,RP7_score,RP8_score,RP9_score,RP10_score,RP11_score,RP12_score,Work time,Vacation time,Work time RP1,Work time RP2,Work time RP3,Work time RP4,Work time RP5,Work time RP6,Work time RP7,Work time RP8,Work time RP9,Work time RP10,Work time RP11,Work time RP12
209,6027,1,90,3,6,0,0,0,0,0,0,0,0,1,0,0,3,0,3,0,3,0,0,1,0,0,3,0,49,0,42,0,26,0,0,68,0,0,36,0,72,0,72,0,72,0,0,214,0,0,72,0,0,90,0,90,0,90,0,90,90,0,90,90,0
596,12364,1,90,3,6,0,0,0,0,0,0,0,0,1,0,1,3,0,3,0,0,0,3,0,3,0,0,36,36,0,36,0,0,0,36,0,42,0,0,214,72,0,72,0,0,0,72,0,72,0,0,90,0,0,0,90,0,90,90,90,0,90,0,90,90
606,12376,60,90,1,2,0,0,0,0,0,0,0,0,1,0,0,3,0,1,0,0,3,0,0,0,3,0,0,36,0,36,0,0,36,0,0,0,73,0,0,131,0,273,0,0,131,0,0,0,131,0,90,0,90,0,90,0,90,90,0,90,90,90,0,90
733,12556,1,90,2,5,0,0,0,0,0,0,0,0,1,0,0,3,0,0,3,0,0,0,1,0,0,3,0,55,0,0,36,0,0,0,55,0,0,36,0,72,0,0,72,0,0,0,214,0,0,72,0,0,90,0,90,90,0,90,90,90,0,90,90,0
904,13837,1,90,1,4,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,3,0,0,0,0,57,0,0,0,0,0,0,36,0,0,0,0,214,0,0,0,0,0,0,72,0,0,0,90,0,90,0,90,90,90,90,90,90,0,90,90,90
963,15055,1,90,2,5,0,0,0,0,0,0,0,0,1,0,0,3,0,3,0,0,1,0,0,3,0,0,0,47,0,52,0,0,36,0,0,47,0,0,0,72,0,72,0,0,214,0,0,72,0,0,90,0,90,0,90,0,90,90,0,90,90,0,90,90
1557,92553,1,80,3,6,0,0,0,0,0,0,0,0,1,0,0,1,0,0,3,3,0,3,0,3,0,0,0,42,0,0,39,36,0,36,0,36,0,0,0,214,0,0,72,72,0,72,0,72,0,0,80,0,80,0,80,80,0,0,80,0,80,0,80,80
1833,96806,1,90,3,6,0,0,0,0,0,0,0,0,1,0,0,3,0,0,0,1,0,0,0,3,0,0,0,73,0,0,0,36,0,0,0,73,0,0,0,72,0,0,0,214,0,0,0,72,0,0,90,0,90,0,90,90,90,0,90,90,90,0,90,90
2190,101421,1,90,3,6,0,0,0,0,0,0,0,0,1,0,0,3,0,3,0,1,0,0,3,0,0,0,0,55,0,55,0,55,0,0,36,0,0,0,0,72,0,72,0,214,0,0,72,0,0,0,90,0,90,0,90,0,90,0,90,90,0,90,90,90

In [389]:
def f(row):
    return 

q['Q1'].apply()

,Num,Pers Level,Max Fly,Month Start,Month Max,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,RP1,RP2,RP3,RP4,RP5,RP6,RP7,RP8,RP9,RP10,RP11,RP12,RR1,RR2,RR3,RR4,RR5,RR6,RR7,RR8,RR9,RR10,RR11,RR12,RP1_score,RP2_score,RP3_score,RP4_score,RP5_score,RP6_score,RP7_score,RP8_score,RP9_score,RP10_score,RP11_score,RP12_score,Work time,Vacation time,Work time RP1,Work time RP2,Work time RP3,Work time RP4,Work time RP5,Work time RP6,Work time RP7,Work time RP8,Work time RP9,Work time RP10,Work time RP11,Work time RP12
163,4765,65,70,2,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,0,70,70,70,70,70,70,70,70,70,70,70,70
169,4898,70,80,2,5,1,0,0,0,0,0,0,0,0,0,3,0,3,0,3,0,0,0,1,0,0,3,18,0,26,0,39,0,0,0,73,0,0,36,141,0,141,0,141,0,0,0,283,0,0,141,0,228,62,80,54,80,41,80,80,80,7,80,80,44
211,10282,60,80,2,5,1,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,3,0,0,0,3,0,0,73,0,39,0,0,36,0,0,0,42,0,0,273,0,131,0,0,131,0,0,0,131,0,80,190,80,7,80,41,80,80,44,80,80,80,38,80
212,10287,60,80,1,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,0,80,80,80,80,80,80,80,80,80,80,80,80
213,10394,55,80,3,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,1,0,3,3,0,0,0,0,39,36,0,0,78,0,39,36,0,0,0,0,126,126,0,0,268,0,126,126,0,264,80,80,80,80,41,44,80,80,2,80,41,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2266,102396,1,80,1,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,0,80,80,80,80,80,80,80,80,80,80,80,80
2302,102837,1,80,1,3,1,0,0,0,0,0,0,0,0,0,3,0,0,1,0,0,0,0,3,0,3,0,36,0,0,55,0,0,0,0,36,0,36,0,72,0,0,214,0,0,0,0,72,0,72,0,80,163,44,80,80,25,80,80,80,80,44,80,44,80
2304,102858,1,80,1,3,1,0,0,0,0,0,0,0,0,0,3,0,3,0,1,0,0,3,0,3,0,0,18,0,18,0,55,0,0,36,0,18,0,0,72,0,72,0,214,0,0,72,0,72,0,0,80,145,62,80,62,80,25,80,80,44,80,62,80,80
2305,102897,1,80,2,5,1,0,0,0,0,0,0,0,0,0,1,3,0,0,0,0,3,3,0,0,3,3,55,18,0,0,0,0,36,36,0,0,18,18,214,72,0,0,0,0,72,72,0,0,72,72,0,199,25,62,80,80,80,80,44,44,80,80,62,62
2400,104310,1,70,1,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70,0,70,70,70,70,70,70,70,70,70,70,70,70

In [391]:
for q in q.values():
    print(q.shape)

(509, 65)
(190, 65)
(145, 65)
(169, 65)
(148, 65)
(570, 65)
(119, 65)
(107, 65)
(90, 65)
(138, 65)

In [390]:
import pickle

In [419]:
with open('qs.pickle', 'wb') as f:
    pickle.dump(q, f)

In [418]:
q

defaultdict(None,
            {'Q1':          Num  Pers Level  Max Fly  Month Start  Month Max  Q1  Q2  Q3  Q4  Q5  \
             163     4765          65       70            2          5   1   0   0   0   0
             169     4898          70       80            2          5   1   0   0   0   0
             211    10282          60       80            2          5   1   0   0   0   0
             212    10287          60       80            1          3   1   0   0   0   0
             213    10394          55       80            3          6   1   0   0   0   0
             ...      ...         ...      ...          ...        ...  ..  ..  ..  ..  ..
             2266  102396           1       80            1         12   1   0   0   0   0
             2302  102837           1       80            1          3   1   0   0   0   0
             2304  102858           1       80            1          3   1   0   0   0   0
             2305  102897           1       80            2          5   1   0   0   0   0
             2400  104310           1       70            1         12   1   0   0   0   0

                   Q6  Q7  Q8  Q9  Q10  RP1  RP2  RP3  RP4  RP5  RP6  RP7  RP8  RP9  RP10  \
             163    0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             169    0   0   0   0    0    3    0    3    0    3    0    0    0    1     0
             211    0   0   0   0    0    0    1    0    3    0    0    3    0    0     0
             212    0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             213    0   0   0   0    0    0    0    0    0    3    3    0    0    1     0
             ...   ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
             2266   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             2302   0   0   0   0    0    3    0    0    1    0    0    0    0    3     0
             2304   0   0   0   0    0    3    0    3    0    1    0    0    3    0     3
             2305   0   0   0   0    0    1    3    0    0    0    0    3    3    0     0
             2400   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0

                   RP11  RP12  RR1  RR2  RR3  RR4  RR5  RR6  RR7  RR8  RR9  RR10  RR11  \
             163      0     0    0    0    0    0    0    0    0    0    0     0     0
             169      0     3   18    0   26    0   39    0    0    0   73     0     0
             211      3     0    0   73    0   39    0    0   36    0    0     0    42
             212      0     0    0    0    0    0    0    0    0    0    0     0     0
             213      3     3    0    0    0    0   39   36    0    0   78     0    39
             ...    ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
             2266     0     0    0    0    0    0    0    0    0    0    0     0     0
             2302     3     0   36    0    0   55    0    0    0    0   36     0    36
             2304     0     0   18    0   18    0   55    0    0   36    0    18     0
             2305     3     3   55   18    0    0    0    0   36   36    0     0    18
             2400     0     0    0    0    0    0    0    0    0    0    0     0     0

                   RR12  RP1_score  RP2_score  RP3_score  RP4_score  RP5_score  RP6_score  \
             163      0          0          0          0          0          0          0
             169     36        141          0        141          0        141          0
             211      0          0        273          0        131          0          0
             212      0          0          0          0          0          0          0
             213     36          0          0          0          0        126        126
             ...    ...        ...        ...        ...        ...        ...        ...
             2266     0          0          0          0          0          0          0
             2302     0         72          0          0        214          0          0
             2304     0         72          0         72          0        214          0
             2305    18        214         72          0          0          0          0
             2400     0          0          0          0          0          0          0

                   RP7_score  RP8_score  RP9_score  RP10_score  RP11_score  RP12_score
             163           0          0          0           0           0           0
             169           0          0        283           0           0         141
             211         131          0          0           0         131           0
             212           0          0          0           0           0           0
             213           0          0        268           0         126         126
             ...         ...        ...        ...         ...         ...         ...
             2266          0          0          0           0           0           0
             2302          0          0         72           0          72           0
             2304          0         72          0          72           0           0
             2305         72         72          0           0          72          72
             2400          0          0          0           0           0           0

             [509 rows x 51 columns],
             'Q2':         Num  Pers Level  Max Fly  Month Start  Month Max  Q1  Q2  Q3  Q4  Q5  \
             0      3401          70       80            3          6   0   1   0   0   0
             1      3402          70       80            1          4   0   1   0   0   0
             3      3405          65       80            2          5   0   1   0   0   0
             4      3425          70       90            1          1   0   1   0   0   0
             6      3427          65       80            3          6   0   1   0   0   0
             ...     ...         ...      ...          ...        ...  ..  ..  ..  ..  ..
             1420  88400          50       80            1          4   0   1   0   0   0
             1424  88575          50       90            3          6   0   1   0   0   0
             1441  89129          50       90            3          6   0   1   0   0   0
             1501  91602          50       90            3          6   0   1   0   0   0
             1758  95847          50       80            2          5   0   1   0   0   0

                   Q6  Q7  Q8  Q9  Q10  RP1  RP2  RP3  RP4  RP5  RP6  RP7  RP8  RP9  RP10  \
             0      0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             1      0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             3      0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             4      0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             6      0   0   0   0    0    3    0    0    3    0    0    1    0    3     0
             ...   ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
             1420   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             1424   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             1441   0   0   0   0    0    0    3    0    0    0    1    0    0    0     0
             1501   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             1758   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0

                   RP11  RP12  RR1  RR2  RR3  RR4  RR5  RR6  RR7  RR8  RR9  RR10  RR11  \
             0        0     0    0    0    0    0    0    0    0    0    0     0     0
             1        0     0    0    0    0    0    0    0    0    0    0     0     0
             3        0     0    0    0    0    0    0    0    0    0    0     0     0
             4        0     0    0    0    0    0    0    0    0    0    0     0     0
             6        0     0   36    0    0   36    0    0   36    0   36     0     0
             ...    ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
             1420     0     0    0    0    0    0    0    0    0    0    0     0     0
             1424     0     0    0    0    0    0    0    0    0    0    0     0     0
             1441     0     3    0   49    0    0    0   44    0    0    0     0     0
             1501     0     0    0    0    0    0    0    0    0    0    0     0     0
             1758     0     0    0    0    0    0    0    0    0    0    0     0     0

                   RR12  RP1_score  RP2_score  RP3_score  RP4_score  RP5_score  RP6_score  \
             0        0          0          0          0          0          0          0
             1        0          0          0          0          0          0          0
             3        0          0          0          0          0          0          0
             4        0          0          0          0          0          0          0
             6        0        136          0          0        136          0          0
             ...    ...        ...        ...        ...        ...        ...        ...
             1420     0          0          0          0          0          0          0
             1424     0          0          0          0          0          0          0
             1441    36          0        121          0          0          0        263
             1501     0          0          0          0          0          0          0
             1758     0          0          0          0          0          0          0

                   RP7_score  RP8_score  RP9_score  RP10_score  RP11_score  RP12_score
             0             0          0          0           0           0           0
             1             0          0          0           0           0           0
             3             0          0          0           0           0           0
             4             0          0          0           0           0           0
             6           278          0        136           0           0           0
             ...         ...        ...        ...         ...         ...         ...
             1420          0          0          0           0           0           0
             1424          0          0          0           0           0           0
             1441          0          0          0           0           0         121
             1501          0          0          0           0           0           0
             1758          0          0          0           0           0           0

             [190 rows x 51 columns],
             'Q3':          Num  Pers Level  Max Fly  Month Start  Month Max  Q1  Q2  Q3  Q4  Q5  \
             39      3476          70       80            1          4   0   0   1   0   0
             68      3519          70       90            1          4   0   0   1   0   0
             73      3533          60       90            1          3   0   0   1   0   0
             75      3536          70       80            2          5   0   0   1   0   0
             76      3537          70       80            3          6   0   0   1   0   0
             ...      ...         ...      ...          ...        ...  ..  ..  ..  ..  ..
             2221  101905           1       90            3          6   0   0   1   0   0
             2222  101909           1       90            2          5   0   0   1   0   0
             2223  101910           1       90            2          5   0   0   1   0   0
             2224  101911           1       90            1          4   0   0   1   0   0
             2225  101917           1       90            3          6   0   0   1   0   0

                   Q6  Q7  Q8  Q9  Q10  RP1  RP2  RP3  RP4  RP5  RP6  RP7  RP8  RP9  RP10  \
             39     0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             68     0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             73     0   0   0   0    0    3    0    0    3    0    1    0    0    3     0
             75     0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             76     0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             ...   ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
             2221   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             2222   0   0   0   0    0    3    0    0    3    0    0    0    1    0     3
             2223   0   0   0   0    0    3    0    3    0    0    3    0    1    0     3
             2224   0   0   0   0    0    0    3    0    3    0    0    1    0    0     0
             2225   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0

                   RP11  RP12  RR1  RR2  RR3  RR4  RR5  RR6  RR7  RR8  RR9  RR10  RR11  \
             39       0     0    0    0    0    0    0    0    0    0    0     0     0
             68       0     0    0    0    0    0    0    0    0    0    0     0     0
             73       0     0   44    0    0   55    0   42    0    0   36     0     0
             75       0     0    0    0    0    0    0    0    0    0    0     0     0
             76       0     0    0    0    0    0    0    0    0    0    0     0     0
             ...    ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
             2221     0     0    0    0    0    0    0    0    0    0    0     0     0
             2222     0     0   18    0    0   34    0    0    0   36    0    73     0
             2223     0     0   71    0   36    0    0   36    0   36    0    73     0
             2224     0     3    0   26    0   52    0    0   39    0    0     0     0
             2225     0     0    0    0    0    0    0    0    0    0    0     0     0

                   RR12  RP1_score  RP2_score  RP3_score  RP4_score  RP5_score  RP6_score  \
             39       0          0          0          0          0          0          0
             68       0          0          0          0          0          0          0
             73       0        131          0          0        131          0        273
             75       0          0          0          0          0          0          0
             76       0          0          0          0          0          0          0
             ...    ...        ...        ...        ...        ...        ...        ...
             2221     0          0          0          0          0          0          0
             2222     0         72          0          0         72          0          0
             2223     0         72          0         72          0          0         72
             2224    36          0         72          0         72          0          0
             2225     0          0          0          0          0          0          0

                   RP7_score  RP8_score  RP9_score  RP10_score  RP11_score  RP12_score
             39            0          0          0           0           0           0
             68            0          0          0           0           0           0
             73            0          0        131           0           0           0
             75            0          0          0           0           0           0
             76            0          0          0           0           0           0
             ...         ...        ...        ...         ...         ...         ...
             2221          0          0          0           0           0           0
             2222          0        214          0          72           0           0
             2223          0        214          0          72           0           0
             2224        214          0          0           0           0          72
             2225          0          0          0           0           0           0

             [145 rows x 51 columns],
             'Q4':          Num  Pers Level  Max Fly  Month Start  Month Max  Q1  Q2  Q3  Q4  Q5  \
             2       3404           1       80            2          5   0   0   0   1   0
             158     3803           1       90            2          5   0   0   0   1   0
             188     5901           1       90            3          6   0   0   0   1   0
             189     5903           1       90            2          5   0   0   0   1   0
             190     5904           1       90            2          5   0   0   0   1   0
             ...      ...         ...      ...          ...        ...  ..  ..  ..  ..  ..
             2277  102539           1       90            1         12   0   0   0   1   0
             2300  102812           1       90            3          6   0   0   0   1   0
             2349  103243           1       90            2          5   0   0   0   1   0
             2365  103531           1       90            1         12   0   0   0   1   0
             2367  103630           1       90            1         12   0   0   0   1   0

                   Q6  Q7  Q8  Q9  Q10  RP1  RP2  RP3  RP4  RP5  RP6  RP7  RP8  RP9  RP10  \
             2      0   0   0   0    0    0    3    0    0    3    0    0    1    0     3
             158    0   0   0   0    0    0    3    0    0    3    0    0    0    1     0
             188    0   0   0   0    0    0    3    0    3    0    0    1    0    0     3
             189    0   0   0   0    0    0    1    0    0    0    3    0    3    0     0
             190    0   0   0   0    0    0    0    0    3    0    0    0    1    3     0
             ...   ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...
             2277   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             2300   0   0   0   0    0    0    3    0    0    3    0    1    0    0     3
             2349   0   0   0   0    0    0    0    0    0    0    0    0    0    0     0
             2365   0   0   0   0    0    0    0    0    3    0    0    0    1    0     3
             2367   0   0   0   0    0    3    1    0    0    3    0    0    3    0     3

                   RP11  RP12  RR1  RR2  RR3  RR4  RR5  RR6  RR7  RR8  RR9  RR10  RR11  \
             2        0     0    0   60    0    0   60    0    0   60    0    39     0
             158      3     0    0   39    0    0   39    0    0    0   73     0    31
             188      0     3    0   39    0   39    0    0   36    0    0    36     0
             189      3     0    0   49    0    0    0   36    0   31    0     0    65
             190      0     0    0    0    0   36    0    0    0   73   21     0     0
             ...    ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
             2277     0     0    0    0    0    0    0    0    0    0    0     0     0
             2300     0     0    0   68    0    0   26    0   44    0    0    44     0
             2349     0     0    0    0    0    0    0    0    0    0    0     0     0
             2365     0     0    0    0    0   42    0    0    0   44    0    55     0
             2367     0     3   39   49    0    0   44    0    0   36    0    42     0

                   RR12  RP1_score  RP2_score  RP3_score  RP4_score  RP5_score  RP6_score  \
             2        0          0         72          0          0         72          0
             158      0          0         72          0          0         72          0
             188     36          0         72          0         72          0          0
             189      0          0        214          0          0          0         72
             190      0          0          0          0         72          0          0